<!-- monapp/templates/home.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DefenseScheduler</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

    </style>
</head>
<body>

<header class="header">
    <div class="container">
        <a href="#home"><img src="{% static 'images/DS-New.png' %}" alt="Logo" class="logo"></a>
        <nav class="nav">
            <a href="#home">Accueil</a>
            <a href="#features">Fonctionnalités</a>
            <a href="#about">À propos</a>
            <a href="#offers">Offres</a>
        </nav>
        <a href="{% url 'demo' %}" class="btn-demo">Demandez une démo</a>
    </div>
</header>






<section id="home" class="section home">
    <div class="home-content">
        <div class="text">
            <h1>Managez la soutenance de vos étudiants</h1>
            <p>Utilisez le plus flexible application pour programmer et gérer la soutenance <br> des étudiants dans vos écoles distinctes.</p>
            <div class="buttons">
                <a href="#features" class="btn-learn"><i class="fas fa-info-circle"></i> Learn More</a>
                <a href="#about" class="btn-start"><i class="fas fa-play-circle"></i> Start</a>
            </div>

        </div>
        <img src="{% static 'images/women.webp' %}" alt="Accueil Image" class="home-image">
    </div>
</section>



<section class="partners-section">
        <div class="container">
            <div class="partners-grid">
                <div class="partner-item">
                    <img src="{% static 'images/ena.jpg' %}" alt="Partenaire 1">
                </div>
                <div class="partner-item">
                    <img src="{% static 'images/ifri.png' %}" alt="Partenaire 2">
                </div>
                <div class="partner-item">
                    <img src="{% static 'images/logo1.webp' %}" alt="Partenaire 3">
                </div>
                <div class="partner-item">
                    <img src="{% static 'images/logo1.webp' %}" alt="Partenaire 4">
                </div>
                <div class="partner-item">
                    <img src="{% static 'images/logo1.webp' %}" alt="Partenaire 5">
                </div>
                <div class="partner-item">
                    <img src="{% static 'images/ifri.png' %}" alt="Partenaire 6">
                </div>
                <div class="partner-item">
                    <img src="{% static 'images/fsa.jpg' %}" alt="Partenaire 7">
                </div>
                <div class="partner-item">
                    <img src="{% static 'images/epac.jpeg' %}" alt="Partenaire 8">
                </div>
                <!-- Ajoutez plus de logos ici si nécessaire -->
            </div>
        </div>
    </section>


<section id="features" class="section features">
    <div class="features-container">
        <h1>Fonctionnalités</h1>
        <p>Découvrez les principales fonctionnalités de notre application.</p>
        <div class="features-grid">
            <div class="feature-item">
                <i class="fas fa-calendar-check"></i>
                <h2>Gestion des Soutenances</h2>
                <p>Planifiez et suivez les soutenances des étudiants facilement.</p>
            </div>
            <div class="feature-item">
                <i class="fas fa-users"></i>
                <h2>Gestion des Utilisateurs</h2>
                <p>Ajoutez et gérez les utilisateurs de votre système avec flexibilité.</p>
            </div>
            <div class="feature-item">
                <i class="fas fa-chart-line"></i>
                <h2>Suivi des Performances</h2>
                <p>Analysez les performances des étudiants et des soutenances.</p>
            </div>
            <div class="feature-item">
                <i class="fas fa-cogs"></i>
                <h2>Personnalisation</h2>
                <p>Adaptez l'application selon les besoins spécifiques de votre institution.</p>
            </div>
            <div class="feature-item">
                <i class="fas fa-envelope"></i>
                <h2>Notifications</h2>
                <p>Recevez des alertes et des notifications sur les événements importants.</p>
            </div>
             <div class="feature-item">
                <i class="fas fa-archive"></i>
                <h2>Archivage Automatique</h2>
                <p>Archivez automatiquement les soutenances et les documents une fois les sessions terminées.</p>
            </div>

             <div class="feature-item">
                <i class="fas fa-shield-alt"></i>
                <h2>Sécurité et Confidentialité</h2>
                <p>Assurez la sécurité et la confidentialité des données des utilisateurs.</p>
            </div>

            <div class="feature-item">
                <i class="fas fa-chart-bar"></i>
                <h2>Rapports et Statistiques</h2>
                <p>Générez des rapports détaillés et visualisez les statistiques de performance.</p>
            </div>


        </div>
    </div>
    <br> <br>
</section>



<section id="about" class="section about">


    <div class="about-content">
        <div class="about-text" id="part1">
            <h1>À propos</h1>
            <p>Découvrez pourquoi notre application est la meilleure pour gérer les soutenances de vos étudiants. Grâce à ses fonctionnalités innovantes et sa flexibilité, elle s'adapte parfaitement aux besoins de vos écoles.</p>
            <a href="#learn-more" class="btn-learn-more"><i class="fas fa-info-circle"></i> Learn More</a>

            <a href="{% static 'images/file.pdf' %}" class="btn-download" download>
                <i class="fas fa-download"></i> Télécharger le Manuel d'Utilisation
            </a>
        </div>
            <img src="{% static 'images/about.jpg' %}" alt="Image Illustrative" class="about-image">

    </div>
    <div class="about-content">
        <img src="{% static 'images/about1.avif' %}" alt="Image Illustrative" class="about-image">
        <div class="about-text">
            <h1>School Solutions</h1>
            <p>Découvrez pourquoi notre application est la meilleure pour gérer les soutenances de vos étudiants. Grâce à ses fonctionnalités innovantes et sa flexibilité, elle s'adapte parfaitement aux besoins de vos écoles.</p>
            <a href="#learn-more" class="btn-learn-more"><i class="fas fa-info-circle"></i> Learn More</a>

            <a href="{% static 'images/file.pdf' %}" class="btn-download" download>
                <i class="fas fa-download"></i> Télécharger le Manuel d'Utilisation
            </a>
        </div>
    </div>
</section>
<br> <br>




<button class="section-title" >Nos offres</button>
<br><br>

<section class="pricing-plans">
    <div class="plan">
        <div class="plan-header">
            <h2>Basic Plan</h2>
            <p class="price">$19/month</p>
        </div>
        <div class="recommended">
            <span>Most Recommended</span>
        </div>
        <p class="description">The Basic Plan offers essential features for individuals or small teams looking to get started.</p>
        <ul class="features">
            <li>
                <div class="icon check-icon"></div>
                <span>Feature 1</span>
            </li>
            <hr>
            <li>
                <div class="icon check-icon"></div>
                <span>Feature 2</span>
            </li>
            <hr>
            <li>
                <div class="icon arrow-icon"></div>
                <span>Feature 3</span>
            </li>
        </ul>
        <a href="#" class="btn-get-started">Get Started</a>
        <br> <br>
                    No credit card required

    </div>

    <div class="plan">
        <div class="plan-header">
            <h2>Large Plan</h2>
            <p class="price">$49/month</p>
        </div>
         <div class="recommended">
            <span>Most Recommended</span>
        </div>
        <p class="description">The Large Plan is designed for growing teams needing advanced features and more flexibility.</p>
        <ul class="features">
            <li>
                <div class="icon check-icon"></div>
                <span>Feature 1</span>
            </li>
            <hr>
            <li>
                <div class="icon check-icon"></div>
                <span>Feature 2</span>
            </li>
            <hr>
            <li>
                <div class="icon arrow-icon"></div>
                <span>Feature 3</span>
            </li>
        </ul>
        <a href="#" class="btn-get-started">Get Started</a>
        <br> <br>
                    No credit card required

    </div>

    <div class="plan">
        <div class="plan-header">
            <h2>Advanced Plan</h2>
            <p class="price">$99/month</p>
        </div>
         <div class="recommended">
            <span>Most Recommended</span>
        </div>
        <p class="description">The Advanced Plan offers the most comprehensive set of features for large teams and enterprises.</p>
        <ul class="features">
            <li>
                <div class="icon check-icon"></div>
                <span>Feature 1</span>
            </li>
            <hr>
            <li>
                <div class="icon check-icon"></div>
                <span>Feature 2</span>
            </li>
            <hr>
            <li>
                <div class="icon arrow-icon"></div>
                <span>Feature 3</span>
            </li>
        </ul>
        <a href="#" class="btn-get-started">Get Started</a>
        <br> <br>
            No credit card required

    </div>

</section>





<footer class="footer">
    <div class="footer-top">
        <div class="footer-logo">
            <img src="{% static 'images/DS-New.png' %}" alt="Logo">
        </div>
        <div class="footer-content">
            <div class="footer-section contact-info">
                <h2>Contact</h2>
                <p><i class="fas fa-map-marker-alt"></i> 123 Rue Exemple, Ville, Pays</p>
                <p><i class="fas fa-phone"></i> +123 456 7890</p>
                <p><i class="fas fa-envelope"></i> contact@example.com</p>
            </div>

            <div class="footer-section quick-links">
                <ul>
                    <li><a href="#home">Accueil</a></li>
                    <li><a href="#features">Fonctionnalités</a></li>
                    <li><a href="#about">À propos</a></li>
                    <li><a href="#offers">Offres</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Mon Site. Tous droits réservés.</p>
    </div>
</footer>



<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
